body {
    margin: 40px 40px;
    font-family: "arial", sans-serif;
    font-weight: 200;
}

.header {
    padding-bottom: 15px;

    border-bottom-style: solid;
    border-bottom-color: rgba(215, 215, 215, 1);
    border-bottom-width: 1px;
}

.header div {
    display: inline-block;
}

.header div h1 {
    margin: 0;
    font-weight: 100;
}

.title {
    margin-left: 10px;
}

.title h1 {
    color: rgba(0,177,252,255);
}

.title h3 {
    margin: 0;
    font-weight: 100;
}

.user {
    float: right;
    padding-top: 25px;
    font-size: 90%;
    margin-right: 10px;
}

.user * {
    display: inline-block;
}

.employeePhoto {
    padding: 20px 15px;
    background-color: rgba(0,177,252,255);
    color: white;
}

#userPhoto {
    float:right;
    padding: 16px 15px !important;
    margin-top: 2px;
}

.welcomeMessage {
    color: rgba(0,177,252,255);
}

.content {
    margin-top: 30px;
}

.nav {
    width: 20%;
    float: left;
}

.directory{
    width: 80%;
    float:right;
}

.nav h5{
    margin: 0px 0 5px;
}

.nav ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0px;
    font-size: 80%;
    color: rgba(90, 90, 90, 1);
}

.viewMoreBtn{
    display:inline-block;
    color: rgba(0,177,252,255);
    font-size: 10px;
    margin-bottom: 30px;
}

.viewMoreBtn:hover{
    cursor: pointer;
}

#letterFilters button{
    height: 36px;
    width: 3.5%;
    margin-left: 2px;
    color: white;
    background-color: rgba(0,177,252,255);
    border-style: none;
}

#letterFilters button:hover {
    cursor: pointer;
    background-color: rgba(0,150,250,255);
}

#AllBtn {
    margin-left: 0px !important;
    margin-right: -5px !important;
    padding: 0 !important;
}

#searchByKeyword {
    display:inline-block;
    float:left;
}

#searchByKeyword *{
    display: inline-block;
}

#searchByKeyword h5{
    margin: 25px 0 20px;
}

.searchBar {
    position: relative;
}

.searchBar *{
    display:inline-block;
}

.searchBar img{
    width: 15px;
    height: 15px;
    position: absolute;
    top: 7px;
    left: 9px;
}

#keywordTxt {
    padding: 5px 0 5px 25px;
    margin-left: 5px;
}

#clearBtn {
    color: white;
    background-color: rgba(105,186,0,255);
    padding: 7px 15px;
    margin-left: 25px;
    border-style: none;
}

#clearBtn:hover{
    cursor:pointer;
    background-color: rgba(100,160,0,255);
}

#filterHeader {
    margin-left: 40px !important;
}

#filterSelector {
    padding: 7px 0 7px 10px;
    margin-left: 5px;
}

#filterSelector:hover{
    cursor:pointer;
}

#addEmployeeBtn {
    float: right;
    color: white;
    background-color: rgba(0,177,252,255);
    margin-top: 15px;
    padding: 7px;
    font-size: 100%;
    border-style: none;
}

#addEmployeeBtn:hover{
    cursor:pointer;
    background-color: rgba(0,150,250,255);
}

.directory small:before {
    content: "";
    display: table;
    clear: both;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    overflow: auto;
    height: 100%;
    width: 100%;
    margin: -145px -40px 0;
    background-color: rgba(0,0,0,0.4);
}

.modalContent {
    background-color: white;
    overflow: hidden;
    margin: 6% auto;
    width: 40%;
    padding: 20px 20px 60px;
    position: relative;
}

.formCol1{
    width: 50%;
    float:left;
}

.formCol2 {
    width: 50%;
    float: right;
}

.modal form input {
    display: inline-block;
    padding: 3px 5px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.formField {
    padding-bottom: 30px;
    position: relative;
}

.formField label {
    margin-bottom: 3px;
    display: block;
}

.errorMessage{
    position:absolute;
    font-size: 12px;
    color: red;
    bottom: 10px;
}

.modalContent h3 {
    margin: 0 0 20px;
}

.closeBtn {
    color: #aaaaaa;
    float: right;
    clear: left;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 20px;
    top: 10px;
}

.closeBtn:hover{
    color: black;
    cursor: pointer;
}

.submitBtn {
    color: white;
    background-color: rgba(0,177,252,255);
    border-style: none !important;
    padding: 10px !important;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.submitBtn:hover{
    cursor:pointer;
    background-color: rgba(0,150,250,255);
}

#employeeCards{
    position: relative;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 15px 15px 180px;
    border-style: solid;
    border-color: rgba(215, 215, 215, 1);
    border-width: 2px;
    overflow: auto;
}

.card{
    display: inline-block;
    float:left;
    background-color: rgba(230, 230, 230, 1);
    width: 25%;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.card .employeePhoto {
    float: left;
}

.card .employeeDetails{
    float: right;
    position: absolute;
    margin-left: 60px;
}

.card .employeeDetails h5 {
    margin: 0 0 2px;
    color: rgba(80, 80, 80, 1);
    font-size: 78%;
}

.card .employeeDetails p {
    margin: 1px 0;
    font-size: 70%;
    color: rgba(125, 125, 125, 1);
}

.card:hover{
    cursor: pointer;
    background-color: rgba(180, 180, 180, 1);
}

.nav ul li:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: rgba(90, 90, 90, 1);
}

#employeeIdDetails {
    border-style: none;

}

#employeeDetailsForm small{
    margin-top: 10px;
    color: rgba(90, 90, 90, 1);
}

.successMessage{
    display:block;
    color: rgba(0,177,252,255);
}

#noResultsMessage{
    color: rgba(125, 125, 125, 1);
    position: absolute;  
}

.actionLinks .fa{
    color: rgba(125, 125, 125, 1);
    font-size: 12px !important;
    margin-right: 7px;
}

.actionLinks .fa:hover{
    color: rgba(70, 70, 70, 1);
}

.errorSign{
    color: red;
    font-size: 20px;
}

.nav ul .specialFilter:nth-of-type(1n+6) {
    display: none;
}